
body, html {
  position: relative;

  margin: 0;
  height: 100%;

  font-size: 20px;
  font-family: "proxima-nova", sans-serif;

  background-color: #282828;
}

.example-window {
  padding: 3em;
  width: 30em;
  color: #e9e9e9;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 1em;
  text-align: center;
}

.example-window h1 {
  margin: 0 0 .5em 0;
}
.example-window p {
  margin: 0 0 1em 0;
}

.example-window button {
  padding: .8em 1.6em;
  margin: 0;
  font-size: 1em;
}
