

@-webkit-keyframes pushDown {

    0% {
        margin-top:-$plugin-height;
    }

    100% {
        margin-top:0;
    }
}


@keyframes pushDown {
    0% {
        margin-top:-$plugin-height;
    }

    100% {
        margin-top:0px;
    }
}

.cc_container {

    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;


//    -webkit-animation-delay: 500ms;
//    animation-delay: 500ms;

    -webkit-animation-name: pushDown;
    animation-name: pushDown;

}

