
.cc-fadeout {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s linear
}

.cc-window {
  animation-name: fadeInRight;
  animation-duration: 0.8s;
  animation-fill-mode: both;

  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;

  -o-animation-duration: 0.8s;
  -o-animation-fill-mode: both;

  -moz-animation-duration: 0.8s;
  -moz-animation-fill-mode: both;
}

@keyframes fadeInRight {
  0%   {opacity: 0; -ms-transform: translateX(20px); transform: translateX(20px)}
  100% {opacity: 1; -ms-transform: translateX( 0  ); transform: translateX( 0  )}
}

@-webkit-keyframes fadeInRight {
  0%   {opacity: 0; -webkit-transform: translateX(20px); transform: translateX(20px)}
  100% {opacity: 1; -webkit-transform: translateX( 0  ); transform: translateX( 0  )}
}
