
.cc-full {
  width: 100%;
}

.cc-primary {
  border: 0
}

.cc-secondary {
  background-color: transparent
}

/* aligns icon images with text */
.cc-middle>img, .cc-middle>span {
  vertical-align: middle;
}

.cc-banner.cc-top {
  left: 0; right: 0; top: 0;
}

.cc-banner.cc-bottom {
  left: 0; right: 0; bottom: 0;
}

.cc-compliance>* {
  display: inline-block;
  vertical-align: middle;
}

.cc-block>* {
  display: block;
}

.cc-block {
  margin-bottom: 1em;
}

.cc-block:last-child {
  margin-bottom: 0;
}

/* the popup positioned using `cc-top`, `cc-left`, `cc-right` and `cc-bottom` */
/*  - these are added to `cc-window` by the plugin configuration */
.cc-top {top: 1em} .cc-left {left: 1em} .cc-right {right: 1em} .cc-bottom {bottom: 1em}
