/* This file should contain CSS that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */

/**************************************** FLOATING ****************************************/

.cc-message, .cc-header {
  display: block;
  margin-bottom: 1em;
}

.cc-dismiss {
  width: 100%;
}

.cc-type-info .cc-dismiss {
  width: auto;
}

.cc-type-info .cc-inline .cc-link {
  margin: .9em;
}

/* width of 49% because there is 2% space between them */ 
.cc-deny, .cc-allow {
  width: 49%;
}

/* for opt-in, allow is the primary button */
.cc-type-opt-in .cc-allow {
  margin-right: 2%;
}

/* for opt-out, deny is the primary button */
.cc-type-opt-out .cc-deny {
  margin-right: 2%;
}

/* links that are direct decendants should be displayed as block */
.cc-window>.cc-link {
  margin-bottom: 1em
}

/**************************************** BANNER ****************************************/

.cc-banner .cc-message {
  margin: 0;
}

.cc-banner .cc-btn {
  display: inline-block;
  width: auto;
}

.cc-banner .cc-inline {
  display: inline-block;
  float: right;
}


/* for opt-in, allow is the primary button */
.cc-banner.cc-type-opt-in .cc-allow {
  margin-right: 10px;
}

/* for opt-out, deny is the primary button */
.cc-banner.cc-type-opt-out .cc-deny {
  margin-right: 10px;
}

/********************** Misc **********************/

/* Makes #outer contain its floated children */
.cc-banner {
  overflow: hidden;
  width: 100%;
}
.cc-banner .cc-message {
  overflow: hidden;/* Make this div take up the rest of the horizontal space, and no more */
}
.cc-banner .cc-inline {
  float: right;/* Make this div as wide as its contents */
}