/* This file should contain styles that modifies the popup layout. */
/* By layout, we mean the physical position of the elements on the popup window, and the margin / padding around those elements. */

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}
.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}

/**************************************** FLOATING ****************************************/

/* these classes position the floating element */
.cc-top {
  top: 1em;
}
.cc-left {
  left: 1em;
}
.cc-right {
  right: 1em;
}
.cc-bottom {
  bottom: 1em;
}

/* links that are direct decendants should be displayed as block */
.cc-floating > .cc-link {
  margin-bottom: 1em;
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance {
  flex: 1 0 auto;
}

/**************************************** BANNER ****************************************/

.cc-window.cc-banner {
  align-items: center;
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}
.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-banner .cc-message {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

/* COMPLIANCE BOX */

.cc-compliance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cc-floating .cc-compliance > .cc-btn {
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: 0.5em;
}

/* CATEGORIES BOX */
.cc-categories {
  display: flex;
  @media screen and (max-width: 943px){
    flex-direction: column;
    width: 100%;
    margin-right: 8px;
  }
  .cc-category{
    display: flex;
    max-width: 100%;
    margin: 0 6px;
    position: relative;
  }
  @media screen and (max-width: 943px){
    .cc-category {
      margin: 4px 0;
      .cc-btn:not(.cc-info){
        width: calc( 100% - 16px);
        min-width: 140px;
      }
    }
  }
  .cc-btn {
    margin: 0;
  }
  .cc-info {
    padding: 4px;
    font-variant: all-small-caps;
  }
  .cc-tooltip{
    display      : none;
    position     : absolute;
    z-index      : 3;
    width        : 190px;
    bottom       : 46px;
    padding      : 8px;
    p {
      margin: 0;
    }
    .cc-cookie-accordion-title{
      cursor: pointer;
    }
    .cc-cookie-accordion{
      display: none;
      height : 0;
    }
    .cc-cookie-accordion.open{
      display: block;
      height : auto;
    }
  }
}
@media screen and (max-width: 415px){
  .cc-save {
    margin: 16px 0;
  }
}