
@media screen and (max-width: 320px) and (orientation: portrait),
       screen and (max-width: 568px) and (orientation: landscape) {
  .cc-window {width: 100%; max-width: none;}
  .cc-window.cc-top {top:0;}
  .cc-window.cc-bottom {bottom:0;}
  .cc-window.cc-banner,.cc-window.cc-right,.cc-window.cc-left {left:0;right:0;}

  .example-window {
    padding: 1em;
    width: auto;
    position: static;
    top: unset;
    left: unset;
    transform: none;
  }
}
