
.cc-theme-blue.cc-window {
  background-color: #4a90e2;
}

.cc-theme-blue .cc-header,
.cc-theme-blue .cc-message,
.cc-theme-blue .cc-link,
.cc-theme-blue .cc-link:hover,
.cc-theme-blue .cc-close,
.cc-theme-blue .cc-btn {
  color: #fff;
}
.cc-theme-blue .cc-btn {
  border-color: #fff;
  font-weight: bold;
}
.cc-theme-blue .cc-link {
  margin-right: 10px;
}
