body, html {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
  font-size: 20px;
  height: 100%;
  background: #3f4f79;
  background: radial-gradient(ellipse at center, #3f4f79 0%, #1d1d2b 100%);
}

body.example2 {
  background: #5f4f59;
  background: radial-gradient(ellipse at center, #5f4f59 0%, #2d1d2b 100%);
}

body.example3 {
  background: #3f5f59;
  background: radial-gradient(ellipse at center, #3f5f59 0%, #1d1d2b 100%);
}

body.example4 {background-color: #302300;}

body.example5 {background-color: #284228;}

body.example6 {background-color: #300900;}

body.example7 {background-color: #282856;}

pre {
  font-size: 10px;
  text-align: left;
  background: black;
  padding: 20px;
  max-height: 300px;
  width: 60%;
  margin: 0 20% 30px 20%;
  overflow: auto;
}

p {
  line-height: 1.4em;
}

a, a:visited {
  color: #fff;
}

em {
  opacity: 0.7;
  font-style: normal;
}

h1 span {
  font-weight: lighter;
  opacity: 0.6;
}

/**************** Page switcher ****************/

.page-switcher {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.25s;
  position: fixed;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  font-size: 40px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.page-switcher:hover {
  background: rgba(0, 0, 0, 0.4);
}

.page-switcher-prev {
  left: 0;
}

.page-switcher-prev:hover {
  left: -10px;
}

.page-switcher-next {
  right: 0;
}

.page-switcher-next:hover {
  right: -10px;
}

/**************** JavaScript API examples ****************/

#console {
  max-height: 100px;
  width:100%;
  margin: 0 0 30px 0;
}

.btn-group {
  margin-bottom: 10px;
}

.btn, .btn:visited {
  display: inline-block;
  background: #FFF;
  color: #000;
  padding: 0.5em 1.2em;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.25s;
  margin: 0 0.25em;
}

.btn:hover {
  background: #DDD;
  color: #000;
}

/******************** Example window ********************/

.example-window {
  text-align: center;
  color: #e9e9e9;
  max-width: 40em;
  display: inline-block;
}

.example-window h1 {
  margin: 0 0 .5em 0;
}

.example-window p {
  margin: 0 0 1em 0;
}

.example-window button {
  margin: 0;
  padding: .5em;
  font-size: 1em;
}

.example-window label {
  text-align: right;
  display: inline-block;
  width: 6em;
}

/******************** Example selector ********************/

.example-selector {
  list-style: none;
  padding: 0;
}

.example-selector>li {
  display: inline-block;
  height: 6em;
  width: 6em;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
  overflow: hidden;
  transition: all 0.25s;
}

.example-selector>li:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.4);
}

.example-selector>li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.example-selector>li>span {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
}

/******************** SelectBox ********************/

.selectbox {
  text-align: center;
  font-size: inherit;
  max-width: 20em;
  padding: .2em .4em;
}

/******************** Classes ********************/

.center-outer {
  display: table;
}
.center-inner {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}
.fit {
  width: 100%;
  height: 100%;
}

/******************** Code ********************/

#options {
  display: none;
}

/******************** Responsiveness ********************/

@media (min-width : 820px) and (max-width: 1000px) {
  .example-window {
    margin: 0 100px;
  }
}

@media (max-width: 819px) {
  body {
    padding: 20px;
  }

  .example-window {
    margin: 0;
  }

  .page-switcher {
    position: inherit;
    display: inline-block;
    padding: 10px 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    margin: 20px 0;
  }
}
