
body, html {
  position: relative;

  margin: 0;
  height: 100%;

  font-size: 20px;
  font-family: "proxima-nova", sans-serif;

  background-color: #282828;
}

.example-window {
  padding: 3em;
  width: 30em;
  color: #e9e9e9;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 1em;
  text-align: center;
}

.example-window h1 {
  margin: 0 0 .5em 0;
}
.example-window p {
  margin: 0 0 1em 0;
}

.example-window button {
  padding: .8em 1.6em;
  margin: 0;
  font-size: 1em;
}

#cookie-widget {
  border: 3px dashed black;
  padding: 0 20px;
}

.selectbox {
  font-size: inherit;
  color: #555;
  margin: 10px;
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #AAA;
}

.selectbox:focus {
  outline: none;
  border-color: #51a7e8;
  box-shadow: inset 0 0 10px 3px rgba(81, 167, 232, 0.5);
}
