/* @author Alex Morley-Finch */

/* Base style  */
/*  - the popups base theme is black text on a white background without a border */
/*  - the popups position is defined by the plugins configuration */
/*  - the popups colour scheme is defined by the plugins configuration and `themes` */

/* the wrapper is a div element that completely fills the window screen space */
/*  - popup (.cc-window) can be positioned anywhere on the page using the wrapper */
.cc-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  font-size: 15px; /* by setting the base fon't here, we can size the rest of the popup using CSS `em` */
}

/* the popup window */
.cc-window {
  font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Calibri, Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 2em;
  font-size: 1em;
  max-width: 24em; /* 1em == 15px therefore 24em == 360px */
  box-sizing: border-box;
}

.cc-window.cc-banner {
  width: 100%;
  max-width: 100%;
  padding: 1em;
}

.cc-header {font-weight: bold;}
.cc-message {font-size: .9em;}

.cc-btn, .cc-link, .cc-close {cursor: pointer;}

/* element styles */
.cc-link {
  font-size: .8em;
  opacity: .7;
  text-decoration: underline;
}

.cc-link:hover {
  opacity: .9;
}

.cc-btn {
  font-size: 1em;
  border: 2px solid #000;
  padding: .5em;
  box-sizing: border-box;
}

.cc-btn:hover {
  text-decoration: underline;
}

.cc-close {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.6em;
  opacity: .9;

  /* seeing as this contains text and not an image, the element taller than it is wide (because it is text) */
  /*  - we want it to be a square, because it's acting as an icon */
  /*  - setting the line height normalises the height */
  line-height: .75;
}

.cc-close:hover {
  opacity: 1;
}





.cc-full {width: 100%;}

/* aligns icon images with text */
.cc-middle>img, .cc-middle>span {vertical-align: middle;}

/* the popup positioned using `cc-top`, `cc-left`, `cc-right` and `cc-bottom` */
/*  - these are added to `cc-window` by the plugin configuration */
.cc-top {top: 1em} .cc-left {left: 1em} .cc-right {right: 1em} .cc-bottom {bottom: 1em}

.cc-banner.cc-top {left: 0; right: 0; top: 0;}
.cc-banner.cc-bottom {left: 0; right: 0; bottom: 0;}





/* layouts */
.cc-inline>* {
  display: inline-block;
  vertical-align: middle;
}
.cc-block>* {display: block;}

.cc-block {margin-bottom: 1em;}
.cc-block:last-child {margin-bottom: 0;}






/* animation - scaling */
.cc-fadeout {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s linear
}

/*.cc-window {
  animation-name: fadeInRight;
  animation-duration: 0.8s;
  animation-fill-mode: both;

  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;

  -o-animation-duration: 0.8s;
  -o-animation-fill-mode: both;

  -moz-animation-duration: 0.8s;
  -moz-animation-fill-mode: both;
}*/


@media print {
  .cc-wrapper {
    display: none;
  }
}

@keyframes fadeInRight {
  0%   {opacity: 0; -ms-transform: translateX(20px); transform: translateX(20px)}
  100% {opacity: 1; -ms-transform: translateX( 0  ); transform: translateX( 0  )}
}

@-webkit-keyframes fadeInRight {
  0%   {opacity: 0; -webkit-transform: translateX(20px); transform: translateX(20px)}
  100% {opacity: 1; -webkit-transform: translateX( 0  ); transform: translateX( 0  )}
}
