/* Themes */

/********** Red theme **********/

.cc-theme-red.cc-window {
  background-color: #d34040;
  border-radius: 5px;
  border: 1px solid #6b0e0e;
}

.cc-theme-red .cc-header,
.cc-theme-red .cc-message,
.cc-theme-red .cc-link,
.cc-theme-red .cc-link:hover,
.cc-theme-red .cc-close {
  color: #fff;
}
.cc-theme-blue .cc-btn {
  border-color: #fff;
}

.cc-cookie-image {
  position: absolute;
  bottom: 1em;
  right: 1em;

  filter: invert(1);
  -webkit-filter: invert(1);
}

/********** Blue theme **********/

.cc-theme-blue.cc-window {
  background-color: #4a90e2;
}

.cc-theme-blue .cc-header,
.cc-theme-blue .cc-message,
.cc-theme-blue .cc-link,
.cc-theme-blue .cc-link:hover,
.cc-theme-blue .cc-close,
.cc-theme-blue .cc-btn {
  color: #fff;
}
.cc-theme-blue .cc-btn {
  border-color: #fff;
}

/********** Clean theme **********/

.cc-theme-clean.cc-window {
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 5px;
}

.cc-theme-clean .cc-header,
.cc-theme-clean .cc-message,
.cc-theme-clean .cc-link,
.cc-theme-clean .cc-link:hover,
.cc-theme-clean .cc-close {
  color: #000;
}
.cc-theme-clean .cc-btn, .cc-theme-clean .cc-btn:hover {
  color: #86b4ea;
  border-width: 1px;
  border-color: #86b4ea;
}

/********** Black theme **********/

.cc-theme-black.cc-window {
  background-color: #000;
}

.cc-theme-black .cc-header,
.cc-theme-black .cc-message,
.cc-theme-black .cc-close,
.cc-theme-black .cc-btn {
  color: #fff;
}
.cc-theme-black .cc-btn {
  background-color: #f8e71c;
  color: #000;
}
.cc-theme-black .cc-link,
.cc-theme-black .cc-link:hover {
  color: #4a90e2;
}